
@{
    ViewBag.Title = "Grubar";
}

<div class="well addGuestContent">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">Grubar</h2>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <img src="~/Content/Images/Grubar.jpg" class="img-responsive center-block imageSolidBorder" />
        </div>
    </div>
</div>
