
@{
    ViewBag.Title = "Wedding Details";
}
<div class="well addGuestContent">

    @*<div class="row" style="padding-bottom:35px;">
        <div class="col-xs-12">
            <img src="~/Content/Images/weddingDetails.png" class="img-responsive center-block" />
        </div>
    </div>*@

    <div class="row">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">Ceremony</h2>
        </div>
        <div class="col-xs-12 col-md-5 col-md-push-6">
            <img src="~/Content/Images/newChurch.jpg" class="img-responsive imageSolidBorder padImgBelow center-block" alt="Church" />
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-5" style="text-align:center;">
            <div class="row" style="margin-top:50px;">
                <div class="col-xs-12">
                    <h2 style="margin-left:0px;">St. Ignatius Catholic </h2>
                </div>
                <div class="col-xs-12">
                    <p>801 N. 8th Street</p>
                    <p>Neodesha, KS</p>
                    <p>66757</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">Reception</h2>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-1">
            <img src="~/Content/Images/LilT.jpg" class="img-responsive imageSolidBorder center-block" alt="Lodge" />
        </div>
        <div class="col-xs-12 col-md-4" style="text-align:center;">
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12">
                    <h2 style="margin-left:0px;">Lil’ Toledo Lodge</h2>
                </div>
                <div class="col-xs-12">
                    <p>10600 170th Road</p>
                    <p>Chanute, KS</p>
                    <p>66720</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:40px;">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">Lodging</h2>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-1">
            <img src="~/Content/Images/TiogaSuites.jpg" class="img-responsive imageSolidBorder center-block" alt="TiogaSuites" />
        </div>
        <div class="col-xs-12 col-md-4" style="text-align:center;">
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12">
                    <h2 style="margin-left:0px;">Tioga Suites Hotel</h2>
                </div>
                <div class="col-xs-12">
                    <p>12 East Main Street</p>
                    <p>Chanute, KS</p>
                    <p>66720</p>
                    <p></p>
                    <p><a href="tel:1-620-431-3343">620-431-3343</a></p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-1" style="padding-top:50px;">
            <img src="~/Content/Images/super8Chanute.jpg" class="img-responsive imageSolidBorder center-block" alt="super8Chanute" />
        </div>
        <div class="col-xs-12 col-md-4" style="text-align:center;">
            <div class="row" style="margin-top:25px; padding-top:40px;">
                <div class="col-xs-12">
                    <h2 style="margin-left:0px;">Super 8 Chanute</h2>
                </div>
                <div class="col-xs-12">
                    <p>3502 South Santa Fe</p>
                    <p>Chanute, KS</p>
                    <p>66720</p>
                    <p></p>
                    <p><a href="tel:1-620-431-7788">620-431-7788</a></p>
                    <p>*There are a block of rooms reserved at Super 8 and you can give them our name when booking.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:40px;">
        <div class="col-xs-12">
            <h2 class="text-center" style="margin-left:0px;">If you are traveling by air:</h2>
            </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 weddingDetailsTravelDiv">
            <p>
                There are a few options- you will have a drive no matter where you fly into.
            </p>
            <p>
                <strong>Wichita Dwight D. Eisenhower National Airport</strong> <br/>
                Wichita, KS- 2 hours 16 minutes (125 Miles)
            </p>
            <p>
                <strong>Kansas City International Airport</strong> <br/>
                Kansas City, MO- 2 hours 33 minutes (149 Miles)
            </p>
            <p>
                <strong>Tulsa International Airport</strong> <br />
                Tulsa-2 hours 9 minutes (116 Miles)
            </p>
        </div>
    </div>

    
</div>

