
@{
    ViewBag.Title = "Wedding Details";
}

<h2>Wedding Details</h2>

<div class="row">
    <div class="col-xs-12 col-md-5 col-md-push-6">
        <img src="~/Content/Images/NeodesheChurch.png" class="img-responsive padImgBelow" alt="Church" />
    </div>
    <div class="col-xs-12 col-md-6 col-md-pull-5" style="text-align:center;">
        <div class="row" style="margin-top:50px;">
            <div class="col-xs-12">
                <h2 style="margin-left:0px;">St. Ignatius Catholic </h2>
            </div>
            <div class="col-xs-12">
                <p>801 N. 8th Street</p>
                <p>Neodesha, KS</p>
                <p>66757</p>
            </div>
        </div>
        
    </div>    
</div>

<div class="row">
    <div class="col-xs-12">
        <img src="~/Content/Images/mapWithArrow.png" class="img-responsive center-block" alt="Map" />
    </div>
</div>

