
@{
    ViewBag.Title = "The Couple";
}

<div class="well addGuestContent">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">The Couple</h2>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <img src="~/Content/Images/Engagements-43-resized.jpg" class="img-responsive center-block imageSolidBorder" />
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 ourStoryDiv">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        Matt and Rebecca met in the summer of 2008 at Double H Ranch a summer camp in Upstate New York for children with serious illnesses. They soon became fast friends when they discovered at new staff orientation that they have the same birthday.  They decided to be “birthday buddies” and send birthday presents to each other.
                    </p>
                </div>

                <div class="col-xs-12">
                    <p>
                        Their friendship grew for years until Matt decided to invite Rebecca on a date in early 2011. To Matt's disappoint Rebecca rejected his offer.  But either due to Matt's charm or his persistence (probably his persistence) they began dating in the summer of 2011. At first they dated long distance for a few years and were finally able to date in the same location when living in Kansas City.
                    </p>
                </div>

                <div class="col-xs-12 col-md-7">
                    <p>
                        On Christmas Eve 2015, Matt asked Rebecca to marry him.  Rebecca had suggested a hike that morning at Red Rock Canyon in Nevada. So Matt had planned a picnic in order to ask her on top of the mountain. However, once they arrived Rebecca thought it was too cold to hike. Yet, Matt persevered they began their hike.  Eventually, he realized it was too cold and decided they had hiked far enough, he asked Rebecca to marry him.  To which she replied "wait you’re asking me now".  And quickly followed up with “Yes”.  Now they look forward to getting married in Rebecca's hometown surrounded by family and friends.
                    </p>
                </div>

                <div class="col-xs-12 col-md-5">
                    <img src="~/Content/Images/photo5-resized.jpg" class="img-responsive center-block imageSolidBorder" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:30px;">
    </div>
</div>
