.navbar {
    border:none;
    border-radius:0px;
    background-color: #45d1ce;
    padding:0px;
    min-height:10px;
}

a{
    color: black;
    font-weight:bold;
    font-size:1.3em;
    font-family:'Over the Rainbow', cursive;
}

a:hover{
    color:#000000;
   
}

.nav > li > a{
    padding: 10px 0px 10px 0px;
}

.well {
    border:none;
    border-radius:0px;
    box-shadow:none;
}

.mainWell {
    
    padding-top:0px;
    padding:0px;
    min-height:400px;
    border:15px solid #45d1ce;
    border-top:none;
    border-radius:10px;
}

.mainWell h2{
    margin-left:50px;
}

.headerContainer {
    padding:0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}


.padImgBelow{
    margin-bottom:55px;
}

#searchResults{
    padding-top:20px;
}

.nameSearchResults{
    font-size:1.3em;
    padding-top:8px;
    padding-bottom:5px;
    border-bottom:1px solid black;
}


.carousel-caption{
    top: 60%;
    right:10%;
    left:10%;
transform: translateY(-50%);
bottom: initial;
text-align:center;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}