html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-image: -o-linear-gradient(-89deg, rgba(200,179,168,0.98) 0%, #c5a3c4 100%);*/
    /*background-image: -moz-linear-gradient(-89deg, rgba(200,179,168,0.98) 0%, #c5a3c4 100%);
    background-image: linear-gradient(-179deg, rgba(235,224,235,0.98) 0%, #b49f70 100%);*/
    /*background-image: url('Images/gplaypattern.png');*/
    /*background-image: url('Images/subtle_zebra_3d.png');*/
    background-image: url('Images/tiledBackgroundSmall.png');
    background-repeat: repeat;
}

.well {
    max-width: 1100px !important;
}


body {
    padding-bottom: 20px;
    background-color: transparent;
}

    body p {
        font-size: 1.5em;
        font-family: 'Merriweather Sans', sans-serif;
    }

    body h1 {
        font-size: 5em;
        font-weight: bold;
        /*font-family: Broadway;*/
        font-family: 'Merriweather Sans', sans-serif;
        color: black;
        text-shadow: 4px 2px 8px #262626;
    }
    body h2, h3{
        font-family: 'Merriweather Sans', sans-serif;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

.headerBanner {
    /*background: rgba(151, 95, 81, .65);*/
    /*background-image: url('Images/darkWood.png');*/
    background-image: url('Images/wood_planks.jpg');
    box-shadow: 0px 15px 15px rgba(26, 26, 26, .9);
    max-width: 100%;
    /*border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;*/
}

.headerTopBar {
    /*height: 20px;
    background-color: #522d2d;*/
}

header > .navDiv {
    text-align: center;
}

.headerBanner > .container {
    margin-bottom: 20px;
}

    .headerBanner > .container > ul > li {
        /*background-color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
        display: block;
        background-color: transparent;
    }

        .headerBanner > .container > ul > li:hover {
            /*background-color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
            background-color: transparent;
            transform: scale(1.1);
        }

        .headerBanner > .container > ul > li > a {
            color: black;
            font-weight: bold;
            font-size: 1.8em;
            background-color: transparent;
            border: none;
            padding: 0px;
        }

footer > p {
    text-align: center;
}

.customContentDiv {
    margin: 10px;
}

.rowNormalEven {
    background-color: none;
}

.rowNormalOdd {
    background-color: #e6e5e5;
}

.rowNotAttending {
    background-color: #db7171;
}

.rowAttending {
    background-color: #8cd98c;
}

.addGuestContent > form > .row,
.addGuestContent > .row  {
    margin-bottom: 20px;
}

.adminNavView {
    padding: 15px 15px;
    background: rgba(151, 95, 81, .65);
    margin: 0px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.adminNavInner {
    opacity: .9;
}

.rsvpGuestListRow {
    padding-top: 5px;
    padding-bottom: 0px;
    border-top: 2px solid black;
}

.rsvpGuestCommentRow{
    padding-top:5px;
    padding-bottom:5px;
}

    .rsvpGuestListRow div, .rsvpGuestCommentRow div {
        vertical-align: middle;
        font-size: 1.2em;
        font-family: Arial;
        font-weight: bold;
        display: inline-block;
    }

.editGuestContent section {
    padding-bottom: 100px;
}

.vCenter {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.vTop {
    vertical-align: top !important;
    float: none;
}

.rsvpHeaders div h4 {
    font-weight: bold;
}

.guestOptionButtons {
    float: left;
    position: absolute;
}

#attendanceTotal {
    padding-bottom: 20px;
}

    #attendanceTotal div h3 {
        font-weight: bold;
    }

#guestStats div div div h4 {
    font-size: 1.6em;
    font-weight: bold;
}

#guestStats div div div span {
    font-size: 1.3em;
}

#homeButton {
    background-image: url('Images/Buttons/buttonNormal.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#homeButtonImage:hover {
    background-image: url('Images/Buttons/homeButtonHover.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.textFlourish {
    padding-bottom: 15px;
    opacity: .9;
}

.imageShadow {
    box-shadow: 10px 10px 15px rgba(26, 26, 26, .9);
}

.imageSolidBorder{
    border: 6px solid black;
    border-radius: 5px;
}

.adminLoginTrackerOuter {
    margin: 0px;
    margin-top: -25px;
    margin-bottom: 20px;
}

.adminLoginTrackerInner {
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    background: rgba(151, 95, 81, .65);
}

    .adminLoginTrackerInner p {
        font-weight: bold;
    }

    .adminNavButton {
        margin-bottom:5px;
    }

footer a {
    font-size: 1em;
    font-weight: normal;
}

.hidden-inline-xs {
    display: inline-block !important;
}

#countDownText {
    font-family: 'Over the Rainbow', cursive;
    font-size: 1.4em;
}

@media (max-width: 350px) {
    #countDownText {
        font-size: 0.9em;
    }
    .contactEmail{
        font-size:1.1em !important;
}
}

@media (min-width:351px) and ( max-width: 430px) {
    #countDownText {
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    .hidden-inline-xs {
        display: none !important;
    }
}

.hidden-inline-sm {
    display: inline-block !important;
}

@media (max-width: 992px) {
    .hidden-inline-sm {
        display: none !important;
    }
}


.editGuestContent div {
    padding-top: 5px;
}

.adminNavInner button {
    margin-bottom: 5px;
}





.countDownRow {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.starsHeaderWell {
    margin-top: -10px;
}

.modal-body > .row{
    padding-bottom:10px;
}

#guestNumValidator{
    background-color:#d20000;
    color:white;
    font-weight: bold;
    font-size:1.5em;
    margin-left:10px;
    padding:3px;
    border-radius:5px;
}

.forceHide{
    display:none;
}

.ourStoryDiv p {
    padding-top:25px;
}

.weddingDetailsTravelDiv p {
    padding-top:15px;
    text-align:center;
}

.weddingDetailsSubHeading
{
    text-align:center;
    font-family:'Over the Rainbow', cursive;
    font-size:4em;
    font-weight:bold;
    padding-bottom:15px;
    margin-left:0px !important;
}

.weddingDetailsTravelHeading{
    text-align:center;
    font-family:'Over the Rainbow', cursive;
    font-size:3em;
    font-weight:bold;
    padding-bottom:15px;
    margin-left:0px !important;
}

.registryContentDiv p{
    padding-top:10px;    
    text-align:center;
    font-size:1.8em;
}

.registryContentDiv{
    margin-bottom:40px;
}

