html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-image: -o-linear-gradient(-89deg, rgba(200,179,168,0.98) 0%, #c5a3c4 100%);*/
    background-image: -moz-linear-gradient(-89deg, rgba(200,179,168,0.98) 0%, #c5a3c4 100%);
    background-image: linear-gradient(-179deg, rgba(235,224,235,0.98) 0%, #b49f70 100%);
}

.well{
    max-width:1100px !important;
}

body {
    padding-bottom: 20px;
    background-color: transparent;
}

    body p {
        font-size: 1.5em;
    }

    body h1 {
        font-size: 3.5em;
        font-weight: bold;
        font-family: Broadway;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.headerBanner {
    background: rgba(151, 95, 81, .65);
    max-width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.headerTopBar {
    height: 20px;
    background-color: #522d2d;
}

header > .navDiv {
    text-align: center;
}

.headerBanner > .container > ul > li {
    background-color: gray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

    .headerBanner > .container > ul > li > a {
        color: black;
        font-weight: bold;
        font-size: 1.8em;
    }

footer > p {
    text-align: center;
}

.customContentDiv {
    margin: 10px;
}

.rowNormalEven{
    background-color:none;
}
.rowNormalOdd{
    background-color: #e6e5e5;
}
.rowNotAttending{
    background-color: #db7171;
}
.rowAttending{
    background-color: #8cd98c;
}

.addGuestContent > form > .row{
    margin-bottom:20px;
}

.adminNavView{
    padding: 15px 15px;
    margin-bottom:50px;
    background: rgba(151, 95, 81, .65);
}

.adminNavInner{
    opacity:.9;
}

.rsvpGuestListRow{
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 2px solid black;
}

.rsvpGuestListRow div {
    vertical-align:middle;
    font-size:1.2em;
    font-family: Arial;
    font-weight:bold;
    display:inline-block;
}

.editGuestContent section{
    padding-bottom:100px;
}

.vCenter{
    vertical-align: middle;
    display: inline-block;
    float:none;
}

.rsvpHeaders div h4{
    font-weight:bold;
}

.guestOptionButtons{
    float:left;
    position:absolute;
}

#attendanceTotal{
    padding-bottom:20px;
}

#attendanceTotal div h3{
    font-weight:bold;
}

#guestStats div div div h4{
    font-size:1.6em;
    font-weight:bold;
}

#guestStats div div div span{
    font-size:1.3em;
}