@if (User != null && User.isAuthenticated)
{
    <div class="adminLoginTrackerOuter row">
        <div class="adminLoginTrackerInner pull-right">
            <p> Logged in as: @User.UserName</p>
                <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("Home", "Login")'"><b>Admin Home</b></button>
                <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("Logout", "Login")'"><b>Logout</b></button>
        </div>
    </div>
}
