
<div class="adminNavView row text-center">
    <div class="adminNavInner">
        <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("Home", "Login")'"><b>Admin Home</b></button>
        <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("RSVP", "RSVP")'"><b>Guest List</b></button>
        <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("Index", "Email")'"><b>Send Email</b></button>
        <button type="button" class="btn btn-primary" style="font-weight:bold;" onclick="location.href='@Url.Action("AddGuest", "AddGuest")'"><b>Add Guest</b></button>
    </div>
</div>