@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="well">
    <h2>Oh No! Grubar Caused an Error to Occur Somehow!</h2>
    <h3>Please try again or contact Zach if the problem continues.</h3>
</div>

