
@{
    ViewBag.Title = "AlreadyRSVPed";
}


<div class="well addGuestContent">

    <h2 class="text-center">The RSVP for this guest has already been received.</h2>
    <h3 class="text-center">Someone else on your RSVP may have already responded for you. If this is in error, or if you wish to change the RSVP, please contact us.</h3>
    </div>
