
@{
    ViewBag.Title = "RSVPSuccess";
}



<div class="well addGuestContent">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Content/Images/rsvpReceived.png" class="img-responsive center-block" />
        </div>
    </div>
    </div>
