
@{
    ViewBag.Title = "Home";
}
@Html.Partial("_adminNavView")
<h2>Home</h2>

<div class="well">

    

    <div>
        Welcome: @ViewBag.UserName
        <h2>Nothing Implemented Here Yet.</h2>
    </div>
</div>

