
@{
    ViewBag.Title = "Registry";
}

<div class="well addGuestContent">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="weddingDetailsSubHeading">Registry</h2>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 registryContentDiv">
            <p>The couple is registered at: </p>
            <p><a href="http://www.crateandbarrel.com/gift-registry/rebecca-wilson/r5533617">Crate and Barrel</a></p>
            <p><a href="http://www1.macys.com/registry/wedding/guest/?registryId=2311684">Macy’s</a></p>            
            <p><a href="http://www.target.com/gift-registry/giftgiver?registryId=W-BaZuB2NHIz11ziPpKJUg">Target</a></p>
            <p>The Neodesha Derrick</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <img src="~/Content/Images/photo8-resized.jpg" class="img-responsive imageSolidBorder center-block" />
        </div>
    </div>
</div>

